@import 'tailwindcss';

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}

	.markdown {
		a {
			color: theme(--color-gray-900);
			font-weight: 500;
			text-decoration: underline;
		}
	}
}
