@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
	--default-font-family:
		'Ubuntu Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--default-transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

	--color-primary-50: #f0f5fe;
	--color-primary-100: #dee8fb;
	--color-primary-200: #c4d9f9;
	--color-primary-300: #9cc1f4;
	--color-primary-400: #6d9eed;
	--color-primary-500: #4b7de6;
	--color-primary-600: #365fda;
	--color-primary-700: #2e4ecc;
	--color-primary-800: #2a40a3;
	--color-primary-900: #273981;
	--color-primary-950: #1c254f;
}

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}

	ul.list-disc {
		@apply ml-4.5 space-y-2.5 marker:text-slate-200;

		li {
			@apply pl-1;
		}
	}

	.markdown {
		a {
			@apply font-medium text-slate-800 underline hover:text-gray-800/70;
		}
	}
}
